

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
/* end Global Rules */  

/* start scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  /* height: 20px; */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(21, 7, 219); 
  border-radius: 10px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a80202; 
}
/* end scrollbar */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: 'Work Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Start Variables */
:root {
  --main-color:#10CAB7;
  --secondary-color:#2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --paragraph-color: #777;
  --main-transition: 0.5s ease;
}
  /* End Variables */


  body {
    background: linear-gradient(to left , rgb(136, 17, 82), rgb(12, 112, 116));
    padding: 30px;
  }

  .show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 10px auto;
}
.show-p {
  margin: 0;
}

.show-btn {
  background-color: transparent;
  border: none;
}